/* Add your existing CSS styles here */

.upload-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.upload-form h2 {
    margin-bottom: 20px;
}

.upload-form input[type="file"] {
    margin-bottom: 20px;
}

.upload-form button {
    padding: 10px 20px;
    background-color: #2b1055;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-form button:hover {
    background-color: #1c0522;
}

#uploadStatus {
    margin-top: 20px;
    font-weight: bold;
}
